{% extends 'layout.twig' %}

{% block title %}Chat - Silex{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    <h1>{{ 'Home page'|trans }}</h1>
    <a href="{{ url('/login') }}">{{ 'Login'|trans }}</a>
    <a href="{{ url('/register') }}">{{ 'Signin'|trans }}</a>
{% endblock %}