{% extends 'layout.twig' %}

{% block title %}Chat - {{ 'User'|trans }} - {{ 'Change data'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('/logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('/login') }}">Login</a>
    {% endif %}

    <h2>{{ 'Change data'|trans }}</h2>

    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-inline well span3">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'Change'|trans }}</button>
    </form>

{% endblock %}