{% extends 'layout.twig' %}

{% block title %}Chat - Admin - {{ 'Change role'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('/logout') }}">{{ 'Logout'|trans }}</a>
        <p>Jesteś zalogowany jako Admin</p>
    {% else %}
        <a href="{{ path('/login') }}">{{ 'Login'|trans }}</a>
    {% endif %}
    <p class="return"><a href="{{url('/users/')}}">{{ 'Return'|trans }}</a></p>
    <h1>{{ 'Change role'|trans }}</h1>
        <h3>{{ 'of User:'|trans }}</h3>
        <p>{{ login }}</p>
        <h3>{{ 'current role:'|trans }}</h3>
        <p>{{ userCurrentRoleName }}</p>


    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-inline well span3" id="change_form">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'Change role'|trans }}</button>
    </form>


{% endblock %}



