{% extends 'layout.twig' %}

{% block title %}Chat - Admin - {{ 'Change role'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('/logout') }}">{{ 'Logout'|trans }}</a>
    {% else %}
        <a href="{{ path('/login') }}">{{ 'Login'|trans }}</a>
    {% endif %}

    <h1>{{ 'Change role'|trans }}</h1>

    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-inline well span3">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'Change role'|trans }}</button>
    </form>

    <a href="{{url('/users/')}}">{{ 'Return'|trans }}</a>
{% endblock %}



