{% extends 'layout.twig' %}

{% block title %}Chat - User - Profile{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../../js/jquery-1.10.1.min.js"></script>
    <script src="../../../js/mess.js"></script>

{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    <a href="{{ path('/logout') }}">{{ 'Logout'|trans }}</a>
    <a href="../{{login}}">{{ 'Profile'|trans }}</a>

<h1>{{ 'Chat something'|trans }}</h1>
    <div id="login">{{login}}</div>
    <div id="chatDiv">

        {% include 'user/display.twig' with {'display_messages': 'display_messages'} %}

    </div>

    <form id="testForm" action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" name="submit" id="submit" value="{{ 'Write'|trans }}"/>
    </form>

{% endblock %}
