{% extends 'layout.twig' %}

{% block title %}Chat - {{ 'User'|trans }} - {{ 'Profile'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ url('/logout') }}">{{ 'Logout'|trans }}</a>

    {% else %}
        <a href="{{ path('/login') }}">{{ 'Login'|trans }}</a>

    {% endif %}

    {% if user|length > 0 %}
        {% for row in user %}
            <h1>{{row.login}}</h1>
            <a href="{{row.login}}/chat">{{ 'Chat'|trans }}</a>
            <a href="{{row.login}}/change_data">{{ 'Change data'|trans }}</a>
        {% endfor %}
    {% else %}
        {{ 'Invalid data'|trans }}
    {% endif %}

    <h2>{{ 'Your data'|trans }}</h2>
    <p>
        {% if user|length > 0 %}
            {% for row in user %}
                {{row.id}},
                {{row.name|upper}},
                {{row.login|e}},
                {{row.email|e}},
            {% endfor %}
        {% else %}
            {{ 'Invalid data'|trans }}
        {% endif %}
    </p>

{% endblock %}
