{% extends 'layout.twig' %}

{% block title %}Chat - {{ 'User'|trans }} - {{ 'Signin'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content }}
        </div>
    {% endfor %}

    <h2>{{ 'Register'|trans }}</h2>

    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-inline well span3">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'Register'|trans }}</button>
    </form>

{% endblock %}
