{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Chat - Admin - {{ 'Users'|trans }}{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('/logout') }}">{{ 'Logout'|trans }}</a>
    {% else %}
        <a href="{{ path('/login') }}">{{ 'Login'|trans }}</a>
    {% endif %}

    <h1>{{ 'List of users'|trans }}</h1>

    {%  if users|length > 0 %}

        <div>
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('/users/', {'page': previous}) }}" title="previous page">{{ 'previous page'|trans }}</a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <a href="{{ url('/users/', {'page': next}) }}" title="next page">{{ 'next page'|trans }}</a>
            {% endif  %}
        </div>

        <table>
            <thead>
            <tr>
                <th>{{ 'User ID'|trans }}</th>
                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'Login'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Role'|trans }}</th>
                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id|e }}</td>
                    <td>{{ user.name|nl2br }}</td>
                    <td>{{ user.login|nl2br }}</td>
                    <td>{{ user.email|nl2br }}</td>
                    <td>{{ user.role_id|nl2br }}</td>
                    <td>
                        <a href="{{ url('/user/view', {'id': user.id}) }}" title="View user">{{ 'View'|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ url('/user/delete', {'id': user.id}) }}" title="Delete user">{{ 'Delete'|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ url('/user/show_messages', {'id': user.id}) }}" title="Show messages">{{ 'Show messages'|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ url('/user/change_role', {'id': user.id}) }}" title="Change role">{{ 'Change role'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'Users not found'|trans }}
        </p>
    {% endif %}

{% endblock %}