{% extends 'layout.twig' %}

{% block title %}Chat - Admin - {{ 'View'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('/logout') }}">{{ 'Logout'|trans }}</a>
        <p>Jesteś zalogowany jako Admin</p>
    {% else %}
        <a href="{{ path('/login') }}">{{ 'Login'|trans }}</a>
    {% endif %}

    <h1>{{ 'User'|trans }}</h1>
    <p>
        {% if user|length > 0 %}
            {% for row in user %}
                {{ row.id|e}},
                {{ row.name|upper }},
                {{ row.email|e }},
            {% endfor %}
        {% else %}
            Invalid data.
        {% endif %}
    </p>
    <a href="{{url('/users/')}}">{{ 'Return'|trans }}</a>
{% endblock %}
