{% extends 'layout.twig' %}

{% block title %}{{ 'Auth'|trans }} - {{ 'Login'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for flashbag in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashbag.type }}">
            {{ flashbag.title }}
            {{ flashbag.content|trans }}
        </div>
    {% endfor %}

    <p class="return"><a href="{{url('/index')}}">{{ 'Return'|trans }}</a></p>

    <h1>{{ 'Log_in'|trans }}</h1>

    <form action="{{ path('auth_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-inline well span3" id="login_form">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'Login'|trans }}</button>
    </form>

{% endblock %}